@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    --primary-color: #4e2dcf;
    --secondary-color: #664a16;
    --text-color: #1E1E1E;
    --background-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

nav {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 0 50px;
}

.nav_logo img {
  max-height: 100px;
}

nav_logo {
  padding-left: 1000px;
}

.nav_links {
    list-style: none;
    gap: 2.5rem;
    display: none;
}

.nav_links a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 20px;
}

.nav_links .link a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid #fbb040;
}

@media (min-width: 780px) {
    .nav_links {
        display: flex;
    }
}

/* Header and Heading */
header {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding-top: 170px;
  padding-left: 100px;
  padding-right: 50px;
}

.left {
  max-width: 900px; /* Increase max width for better line control */
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem; /* Increase font size slightly */
  font-weight: 700;
  line-height: 1.1; /* Tighter line height */
  color: var(--text-color);
  margin-top: 50px;
}

h1 .highlight {
  color: var(--primary-color);
  position: relative;
}

h1 p.sub-heading{
  min-width: 650px;
}
.sub-heading {
  font-size: 1.8rem;
  font-weight:500;
  max-width: 660px;
  color: #6c757d;
}

.right{
  max-width: 534px;
}
.right img {
  margin-left: 50px;
  max-width: 100%; /* Adjust the max-width to control the image size */
}

.curved-line {
  margin-left: 190px;
  margin-bottom: 30px;
}